<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style>
			body {
				margin: 0;
			}
			.main {
				width: 100%;
				display: flex;
			}
			#tree {
				width: 25%;
				height: 100vh;
				padding: 8px 0;
				white-space: nowrap;
				overflow: scroll;
				position: sticky;
				position: -webkit-sticky;
				top: 0;
				left: 0;
				background: #FFFFFF;
				border-right: 1px solid #000000;
			}
			#tree div {
				padding: 4px 0;
			}
			.file {
				cursor: pointer;
			}
			.current {
				font-weight: bold;
				background-color: #E1F5FF;
			}
			.content {
				width: 70%;
				margin-left: 16px;
				margin-right: 32px;
			}
			.source {
				white-space: nowrap;
			}
			pre {
				counter-reset: line;
				font-family: Menlo, monospace;
				font-weight: bold;
				color: rgb(80, 80, 80);
			}
			ol {
				list-style: none;
				counter-reset: number;
				margin: 0;
				padding: 0;
			}
			li:before {
				counter-increment: number;
				content: counter(number);
				margin-right: 24px;
				display: inline-block;
				width: 50px;
				text-align: right;
				color: rgb(200, 200, 200);
			}
			.cov0 {
				color: rgb(192, 0, 0);
			}
			.cov1 {
				color: rgb(44, 212, 149);
			}
		</style>
	</head>
	<body>
		<div class="main">
			<div id="tree">
			
				
				<div style="padding-inline-start: 8px">github.com/masakurapa/go-cover/internal/</div>
				
			
				
				<div style="padding-inline-start: 38px">html/</div>
				
			
				
				<div style="padding-inline-start: 68px">tree/</div>
				
			
				
				<div class="file" style="padding-inline-start: 98px;" id="tree4" onclick="change( 4 ,  3 );">
					tree.go (100%)
				</div>
				
			
				
				<div class="file" style="padding-inline-start: 68px;" id="tree2" onclick="change( 2 ,  2 );">
					html.go (96.7%)
				</div>
				
			
				
				<div class="file" style="padding-inline-start: 68px;" id="tree3" onclick="change( 3 ,  2 );">
					template.go (100%)
				</div>
				
			
				
				<div style="padding-inline-start: 38px">profile/</div>
				
			
				
				<div class="file" style="padding-inline-start: 68px;" id="tree5" onclick="change( 5 ,  2 );">
					profile.go (100%)
				</div>
				
			
				
				<div class="file" style="padding-inline-start: 38px;" id="tree1" onclick="change( 1 ,  1 );">
					cover.go (91%)
				</div>
				
			
			</div>

			<div id="cov" class="content">
				
				<div id="file1"  style="display: none">
					<div class="source">
						<pre><ol><li>package cover
</li><li>
</li><li>import (
</li><li>        "bufio"
</li><li>        "bytes"
</li><li>        "encoding/json"
</li><li>        "fmt"
</li><li>        "io"
</li><li>        "os/exec"
</li><li>        "path"
</li><li>        "path/filepath"
</li><li>        "regexp"
</li><li>        "runtime"
</li><li>        "sort"
</li><li>        "strconv"
</li><li>        "strings"
</li><li>
</li><li>        "github.com/masakurapa/go-cover/internal/profile"
</li><li>)
</li><li>
</li><li>var reg = regexp.MustCompile(`^(.+):([0-9]+)\.([0-9]+),([0-9]+)\.([0-9]+) ([0-9]+) ([0-9]+)$`)
</li><li>
</li><li>// ReadProfile is reads profiling data
</li><li>func ReadProfile(r io.Reader) (profile.Profiles, error) <span class="cov1">{
</span></li><li><span class="cov1">        files := make(map[string]*profile.Profile)
</span></li><li><span class="cov1">        modeOk := false
</span></li><li><span class="cov1">        id := 1
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">        s := bufio.NewScanner(r)
</span></li><li><span class="cov1">        for s.Scan() </span><span class="cov1">{
</span></li><li><span class="cov1">                line := s.Text()
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">                // first line must be "mode: xxx"
</span></li><li><span class="cov1">                if !modeOk </span><span class="cov1">{
</span></li><li><span class="cov1">                        const p = "mode: "
</span></li><li><span class="cov1">                        if !strings.HasPrefix(line, p) || line == p </span><span class="cov1">{
</span></li><li><span class="cov1">                                return nil, fmt.Errorf("first line must be mode: %q", line)
</span></li><li><span class="cov1">                        }</span>
</li><li>                        <span class="cov1">modeOk = true
</span></li><li><span class="cov1">                        continue</span>
</li><li>                }
</li><li>
</li><li>                <span class="cov1">matches := reg.FindStringSubmatch(line)
</span></li><li><span class="cov1">                if matches == nil </span><span class="cov1">{
</span></li><li><span class="cov1">                        return nil, fmt.Errorf("%q does not match expected format: %v", line, reg)
</span></li><li><span class="cov1">                }</span>
</li><li>
</li><li>                <span class="cov1">fileName := matches[1]
</span></li><li><span class="cov1">                p := files[fileName]
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">                if p == nil </span><span class="cov1">{
</span></li><li><span class="cov1">                        p = &amp;profile.Profile{ID: id, FileName: fileName}
</span></li><li><span class="cov1">                        files[fileName] = p
</span></li><li><span class="cov1">                        id++
</span></li><li><span class="cov1">                }</span>
</li><li>
</li><li>                <span class="cov1">p.Blocks = append(p.Blocks, profile.Block{
</span></li><li><span class="cov1">                        StartLine: toInt(matches[2]),
</span></li><li><span class="cov1">                        StartCol:  toInt(matches[3]),
</span></li><li><span class="cov1">                        EndLine:   toInt(matches[4]),
</span></li><li><span class="cov1">                        EndCol:    toInt(matches[5]),
</span></li><li><span class="cov1">                        NumState:  toInt(matches[6]),
</span></li><li><span class="cov1">                        Count:     toInt(matches[7]),
</span></li><li><span class="cov1">                })</span>
</li><li>        }
</li><li>
</li><li>        <span class="cov1">return toProfiles(files)</span>
</li><li>}
</li><li>
</li><li>func toInt(s string) int <span class="cov1">{
</span></li><li><span class="cov1">        i, err := strconv.Atoi(s)
</span></li><li><span class="cov1">        if err != nil </span><span class="cov0">{
</span></li><li><span class="cov0">                panic(err)</span>
</li><li>        }
</li><li>        <span class="cov1">return i</span>
</li><li>}
</li><li>
</li><li>func toProfiles(files map[string]*profile.Profile) (profile.Profiles, error) <span class="cov1">{
</span></li><li><span class="cov1">        dirs, err := makeImportDirMap(files)
</span></li><li><span class="cov1">        if err != nil </span><span class="cov0">{
</span></li><li><span class="cov0">                return nil, err
</span></li><li><span class="cov0">        }</span>
</li><li>
</li><li>        <span class="cov1">profiles := make(profile.Profiles, 0, len(files))
</span></li><li><span class="cov1">        for _, p := range files </span><span class="cov1">{
</span></li><li><span class="cov1">                p.Blocks = filterBlocks(p.Blocks)
</span></li><li><span class="cov1">                sort.SliceStable(p.Blocks, func(i, j int) bool </span><span class="cov1">{
</span></li><li><span class="cov1">                        bi, bj := p.Blocks[i], p.Blocks[j]
</span></li><li><span class="cov1">                        return bi.StartLine &lt; bj.StartLine || bi.StartLine == bj.StartLine &amp;&amp; bi.StartCol &lt; bj.StartCol
</span></li><li><span class="cov1">                }</span>)
</li><li>
</li><li>                <span class="cov1">p.Dir = dirs[path.Dir(p.FileName)]
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">                profiles = append(profiles, *p)</span>
</li><li>        }
</li><li>
</li><li>        <span class="cov1">sort.SliceStable(profiles, func(i, j int) bool </span><span class="cov1">{
</span></li><li><span class="cov1">                return profiles[i].FileName &lt; profiles[j].FileName
</span></li><li><span class="cov1">        }</span>)
</li><li>
</li><li>        <span class="cov1">return profiles, nil</span>
</li><li>}
</li><li>
</li><li>func filterBlocks(blocks []profile.Block) []profile.Block <span class="cov1">{
</span></li><li><span class="cov1">        index := func(bs []profile.Block, b *profile.Block) int </span><span class="cov1">{
</span></li><li><span class="cov1">                for i, bb := range bs </span><span class="cov1">{
</span></li><li><span class="cov1">                        if bb.StartLine == b.StartLine &amp;&amp;
</span></li><li><span class="cov1">                                bb.StartCol == b.StartCol &amp;&amp;
</span></li><li><span class="cov1">                                bb.EndLine == b.EndLine &amp;&amp;
</span></li><li><span class="cov1">                                bb.EndCol == b.EndCol </span><span class="cov1">{
</span></li><li><span class="cov1">                                return i
</span></li><li><span class="cov1">                        }</span>
</li><li>                }
</li><li>                <span class="cov1">return -1</span>
</li><li>        }
</li><li>
</li><li>        <span class="cov1">newBlocks := make([]profile.Block, 0, len(blocks))
</span></li><li><span class="cov1">        for _, b := range blocks </span><span class="cov1">{
</span></li><li><span class="cov1">                i := index(newBlocks, &amp;b)
</span></li><li><span class="cov1">                if i == -1 </span><span class="cov1">{
</span></li><li><span class="cov1">                        newBlocks = append(newBlocks, b)
</span></li><li><span class="cov1">                        continue</span>
</li><li>                }
</li><li>                <span class="cov1">if b.Count &gt; 0 </span><span class="cov1">{
</span></li><li><span class="cov1">                        newBlocks[i] = b
</span></li><li><span class="cov1">                }</span>
</li><li>        }
</li><li>
</li><li>        <span class="cov1">return newBlocks</span>
</li><li>}
</li><li>
</li><li>func makeImportDirMap(files map[string]*profile.Profile) (map[string]string, error) <span class="cov1">{
</span></li><li><span class="cov1">        stdout, err := execGoList(files)
</span></li><li><span class="cov1">        if err != nil </span><span class="cov0">{
</span></li><li><span class="cov0">                return nil, err
</span></li><li><span class="cov0">        }</span>
</li><li>
</li><li>        <span class="cov1">pkgs := make(map[string]string)
</span></li><li><span class="cov1">        if len(stdout) == 0 </span><span class="cov0">{
</span></li><li><span class="cov0">                return pkgs, nil
</span></li><li><span class="cov0">        }</span>
</li><li>
</li><li>        <span class="cov1">type pkg struct {
</span></li><li><span class="cov1">                Dir        string
</span></li><li><span class="cov1">                ImportPath string
</span></li><li><span class="cov1">                Error      *struct {
</span></li><li><span class="cov1">                        Err string
</span></li><li><span class="cov1">                }
</span></li><li><span class="cov1">        }
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">        dec := json.NewDecoder(bytes.NewReader(stdout))
</span></li><li><span class="cov1">        for </span><span class="cov1">{
</span></li><li><span class="cov1">                var p pkg
</span></li><li><span class="cov1">                err := dec.Decode(&amp;p)
</span></li><li><span class="cov1">                if err == io.EOF </span><span class="cov1">{
</span></li><li><span class="cov1">                        break</span>
</li><li>                }
</li><li>                <span class="cov1">if err != nil </span><span class="cov0">{
</span></li><li><span class="cov0">                        return nil, fmt.Errorf("decoding go list json: %v", err)
</span></li><li><span class="cov0">                }</span>
</li><li>                <span class="cov1">if p.Error != nil </span><span class="cov0">{
</span></li><li><span class="cov0">                        return nil, fmt.Errorf(p.Error.Err)
</span></li><li><span class="cov0">                }</span>
</li><li>                // should have the same result for "pkg.ImportPath" and "path.Dir(Profile.FileName)"
</li><li>                <span class="cov1">pkgs[p.ImportPath] = p.Dir</span>
</li><li>        }
</li><li>
</li><li>        <span class="cov1">return pkgs, nil</span>
</li><li>}
</li><li>
</li><li>// execute "go list" command
</li><li>func execGoList(files map[string]*profile.Profile) ([]byte, error) <span class="cov1">{
</span></li><li><span class="cov1">        dirs := make([]string, 0, len(files))
</span></li><li><span class="cov1">        m := make(map[string]struct{})
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">        for _, p := range files </span><span class="cov1">{
</span></li><li><span class="cov1">                if p.IsRelativeOrAbsolute() </span><span class="cov0">{
</span></li><li><span class="cov0">                        continue</span>
</li><li>                }
</li><li>                <span class="cov1">dir := path.Dir(p.FileName)
</span></li><li><span class="cov1">                if _, ok := m[dir]; !ok </span><span class="cov1">{
</span></li><li><span class="cov1">                        m[dir] = struct{}{}
</span></li><li><span class="cov1">                        dirs = append(dirs, dir)
</span></li><li><span class="cov1">                }</span>
</li><li>        }
</li><li>
</li><li>        <span class="cov1">if len(dirs) == 0 </span><span class="cov0">{
</span></li><li><span class="cov0">                return make([]byte, 0), nil
</span></li><li><span class="cov0">        }</span>
</li><li>
</li><li>        <span class="cov1">cmdName := filepath.Join(runtime.GOROOT(), "bin/go")
</span></li><li><span class="cov1">        args := append([]string{"list", "-e", "-json"}, dirs...)
</span></li><li><span class="cov1">        cmd := exec.Command(cmdName, args...)
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">        return cmd.Output()</span>
</li><li>}
</li></ol></pre>
					</div>
				</div>
				
				<div id="file2"  style="display: none">
					<div class="source">
						<pre><ol><li>package html
</li><li>
</li><li>import (
</li><li>        "bytes"
</li><li>        "fmt"
</li><li>        "html/template"
</li><li>        "io"
</li><li>        "io/ioutil"
</li><li>        "path"
</li><li>
</li><li>        "github.com/masakurapa/go-cover/internal/html/tree"
</li><li>        "github.com/masakurapa/go-cover/internal/profile"
</li><li>)
</li><li>
</li><li>var (
</li><li>        escapeChar = map[byte]string{
</li><li>                '&lt;':  "&amp;lt;",
</li><li>                '&gt;':  "&amp;gt;",
</li><li>                '&amp;':  "&amp;amp;",
</li><li>                '\t': "        ",
</li><li>        }
</li><li>)
</li><li>
</li><li>type templateData struct {
</li><li>        Tree  []templateTree
</li><li>        Files []templateFile
</li><li>}
</li><li>
</li><li>type templateTree struct {
</li><li>        ID       int
</li><li>        Name     string
</li><li>        Indent   int
</li><li>        Coverage float64
</li><li>        IsFile   bool
</li><li>}
</li><li>
</li><li>type templateFile struct {
</li><li>        ID       int
</li><li>        Name     string
</li><li>        Body     template.HTML
</li><li>        Coverage float64
</li><li>}
</li><li>
</li><li>// WriteTreeView outputs coverage as a tree view HTML file
</li><li>func WriteTreeView(out io.Writer, profiles profile.Profiles) error <span class="cov1">{
</span></li><li><span class="cov1">        nodes := tree.Create(profiles)
</span></li><li><span class="cov1">        tree := make([]templateTree, 0)
</span></li><li><span class="cov1">        makeTemplateTree(&amp;tree, nodes, 0)
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">        data := templateData{
</span></li><li><span class="cov1">                Tree:  tree,
</span></li><li><span class="cov1">                Files: make([]templateFile, 0, len(profiles)),
</span></li><li><span class="cov1">        }
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">        var buf bytes.Buffer
</span></li><li><span class="cov1">        for _, p := range profiles </span><span class="cov1">{
</span></li><li><span class="cov1">                b, err := ioutil.ReadFile(p.FilePath())
</span></li><li><span class="cov1">                if err != nil </span><span class="cov0">{
</span></li><li><span class="cov0">                        return fmt.Errorf("can't read %q: %v", p.FileName, err)
</span></li><li><span class="cov0">                }</span>
</li><li>
</li><li>                <span class="cov1">writeSource(&amp;buf, b, &amp;p)
</span></li><li><span class="cov1">                data.Files = append(data.Files, templateFile{
</span></li><li><span class="cov1">                        ID:       p.ID,
</span></li><li><span class="cov1">                        Name:     p.FileName,
</span></li><li><span class="cov1">                        Body:     template.HTML(buf.String()),
</span></li><li><span class="cov1">                        Coverage: p.Blocks.Coverage(),
</span></li><li><span class="cov1">                })
</span></li><li><span class="cov1">                buf.Reset()</span>
</li><li>        }
</li><li>
</li><li>        <span class="cov1">return parsedTreeTemplate.Execute(out, data)</span>
</li><li>}
</li><li>
</li><li>func makeTemplateTree(tree *[]templateTree, nodes []tree.Node, indent int) <span class="cov1">{
</span></li><li><span class="cov1">        for _, node := range nodes </span><span class="cov1">{
</span></li><li><span class="cov1">                *tree = append(*tree, templateTree{
</span></li><li><span class="cov1">                        Name:   node.Name,
</span></li><li><span class="cov1">                        Indent: indent,
</span></li><li><span class="cov1">                })
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">                makeTemplateTree(tree, node.Dirs, indent+1)
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">                for _, p := range node.Files </span><span class="cov1">{
</span></li><li><span class="cov1">                        *tree = append(*tree, templateTree{
</span></li><li><span class="cov1">                                ID:       p.ID,
</span></li><li><span class="cov1">                                Name:     path.Base(p.FileName),
</span></li><li><span class="cov1">                                Indent:   indent + 1,
</span></li><li><span class="cov1">                                Coverage: p.Blocks.Coverage(),
</span></li><li><span class="cov1">                                IsFile:   true,
</span></li><li><span class="cov1">                        })
</span></li><li><span class="cov1">                }</span>
</li><li>        }
</li><li>}
</li><li>
</li><li>func writeSource(buf *bytes.Buffer, src []byte, prof *profile.Profile) <span class="cov1">{
</span></li><li><span class="cov1">        bi := 0
</span></li><li><span class="cov1">        si := 0
</span></li><li><span class="cov1">        line := 1
</span></li><li><span class="cov1">        col := 1
</span></li><li><span class="cov1">        cov0 := false
</span></li><li><span class="cov1">        cov1 := false
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">        buf.WriteString("&lt;ol&gt;")
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">        for si &lt; len(src) </span><span class="cov1">{
</span></li><li><span class="cov1">                if col == 1 </span><span class="cov1">{
</span></li><li><span class="cov1">                        buf.WriteString("&lt;li&gt;")
</span></li><li><span class="cov1">                        if cov0 </span><span class="cov0">{
</span></li><li><span class="cov0">                                buf.WriteString(`&lt;span class="cov0"&gt;`)
</span></li><li><span class="cov0">                        }</span>
</li><li>                        <span class="cov1">if cov1 </span><span class="cov1">{
</span></li><li><span class="cov1">                                buf.WriteString(`&lt;span class="cov1"&gt;`)
</span></li><li><span class="cov1">                        }</span>
</li><li>                }
</li><li>
</li><li>                <span class="cov1">if len(prof.Blocks) &gt; bi </span><span class="cov1">{
</span></li><li><span class="cov1">                        block := prof.Blocks[bi]
</span></li><li><span class="cov1">                        if block.StartLine == line &amp;&amp; block.StartCol == col </span><span class="cov1">{
</span></li><li><span class="cov1">                                if block.Count == 0 </span><span class="cov1">{
</span></li><li><span class="cov1">                                        buf.WriteString(`&lt;span class="cov0"&gt;`)
</span></li><li><span class="cov1">                                        cov0 = true
</span></li><li><span class="cov1">                                }</span> else<span class="cov1"> {
</span></li><li><span class="cov1">                                        buf.WriteString(`&lt;span class="cov1"&gt;`)
</span></li><li><span class="cov1">                                        cov1 = true
</span></li><li><span class="cov1">                                }</span>
</li><li>                        }
</li><li>                        <span class="cov1">if block.EndLine == line &amp;&amp; block.EndCol == col || line &gt; block.EndLine </span><span class="cov1">{
</span></li><li><span class="cov1">                                buf.WriteString(`&lt;/span&gt;`)
</span></li><li><span class="cov1">                                bi++
</span></li><li><span class="cov1">                                cov0 = false
</span></li><li><span class="cov1">                                cov1 = false
</span></li><li><span class="cov1">                                continue</span>
</li><li>                        }
</li><li>                }
</li><li>
</li><li>                <span class="cov1">b := src[si]
</span></li><li><span class="cov1">                buf.WriteString(escape(b))
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">                if b == '\n' </span><span class="cov1">{
</span></li><li><span class="cov1">                        if cov0 || cov1 </span><span class="cov1">{
</span></li><li><span class="cov1">                                buf.WriteString("&lt;/span&gt;")
</span></li><li><span class="cov1">                        }</span>
</li><li>                        <span class="cov1">buf.WriteString("&lt;/li&gt;")
</span></li><li><span class="cov1">                        line++
</span></li><li><span class="cov1">                        col = 0</span>
</li><li>                }
</li><li>
</li><li>                <span class="cov1">si++
</span></li><li><span class="cov1">                col++</span>
</li><li>        }
</li><li>
</li><li>        <span class="cov1">buf.WriteString("&lt;/ol&gt;")</span>
</li><li>}
</li><li>
</li><li>func escape(b byte) string <span class="cov1">{
</span></li><li><span class="cov1">        if s, ok := escapeChar[b]; ok </span><span class="cov1">{
</span></li><li><span class="cov1">                return s
</span></li><li><span class="cov1">        }</span>
</li><li>        <span class="cov1">return string(b)</span>
</li><li>}
</li></ol></pre>
					</div>
				</div>
				
				<div id="file3"  style="display: none">
					<div class="source">
						<pre><ol><li>package html
</li><li>
</li><li>import "html/template"
</li><li>
</li><li>var parsedTreeTemplate = template.
</li><li>        Must(template.New("html").
</li><li>                Funcs(template.FuncMap{
</li><li>                        "indent": func(i int) int <span class="cov1">{ return i*30 + 8 }</span>,
</li><li>                }).
</li><li>                Parse(treeTemplate))
</li><li>
</li><li>const treeTemplate = `&lt;!DOCTYPE html&gt;
</li><li>&lt;html&gt;
</li><li>        &lt;head&gt;
</li><li>                &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
</li><li>                &lt;style&gt;
</li><li>                        body {
</li><li>                                margin: 0;
</li><li>                        }
</li><li>                        .main {
</li><li>                                width: 100%;
</li><li>                                display: flex;
</li><li>                        }
</li><li>                        #tree {
</li><li>                                width: 25%;
</li><li>                                height: 100vh;
</li><li>                                padding: 8px 0;
</li><li>                                white-space: nowrap;
</li><li>                                overflow: scroll;
</li><li>                                position: sticky;
</li><li>                                position: -webkit-sticky;
</li><li>                                top: 0;
</li><li>                                left: 0;
</li><li>                                background: #FFFFFF;
</li><li>                                border-right: 1px solid #000000;
</li><li>                        }
</li><li>                        #tree div {
</li><li>                                padding: 4px 0;
</li><li>                        }
</li><li>                        .file {
</li><li>                                cursor: pointer;
</li><li>                        }
</li><li>                        .current {
</li><li>                                font-weight: bold;
</li><li>                                background-color: #E1F5FF;
</li><li>                        }
</li><li>                        .content {
</li><li>                                width: 70%;
</li><li>                                margin-left: 16px;
</li><li>                                margin-right: 32px;
</li><li>                        }
</li><li>                        .source {
</li><li>                                white-space: nowrap;
</li><li>                        }
</li><li>                        pre {
</li><li>                                counter-reset: line;
</li><li>                                font-family: Menlo, monospace;
</li><li>                                font-weight: bold;
</li><li>                                color: rgb(80, 80, 80);
</li><li>                        }
</li><li>                        ol {
</li><li>                                list-style: none;
</li><li>                                counter-reset: number;
</li><li>                                margin: 0;
</li><li>                                padding: 0;
</li><li>                        }
</li><li>                        li:before {
</li><li>                                counter-increment: number;
</li><li>                                content: counter(number);
</li><li>                                margin-right: 24px;
</li><li>                                display: inline-block;
</li><li>                                width: 50px;
</li><li>                                text-align: right;
</li><li>                                color: rgb(200, 200, 200);
</li><li>                        }
</li><li>                        .cov0 {
</li><li>                                color: rgb(192, 0, 0);
</li><li>                        }
</li><li>                        .cov1 {
</li><li>                                color: rgb(44, 212, 149);
</li><li>                        }
</li><li>                &lt;/style&gt;
</li><li>        &lt;/head&gt;
</li><li>        &lt;body&gt;
</li><li>                &lt;div class="main"&gt;
</li><li>                        &lt;div id="tree"&gt;
</li><li>                        {{range $i, $t := .Tree}}
</li><li>                                {{if $t.IsFile}}
</li><li>                                &lt;div class="file" style="padding-inline-start: {{indent $t.Indent}}px;" id="tree{{$t.ID}}" onclick="change({{$t.ID}}, {{$t.Indent}});"&gt;
</li><li>                                        {{$t.Name}} ({{$t.Coverage}}%)
</li><li>                                &lt;/div&gt;
</li><li>                                {{else}}
</li><li>                                &lt;div style="padding-inline-start: {{indent $t.Indent}}px"&gt;{{$t.Name}}/&lt;/div&gt;
</li><li>                                {{end}}
</li><li>                        {{end}}
</li><li>                        &lt;/div&gt;
</li><li>
</li><li>                        &lt;div id="cov" class="content"&gt;
</li><li>                                {{range $i, $f := .Files}}
</li><li>                                &lt;div id="file{{$f.ID}}"  style="display: none"&gt;
</li><li>                                        &lt;div class="source"&gt;
</li><li>                                                &lt;pre&gt;{{$f.Body}}&lt;/pre&gt;
</li><li>                                        &lt;/div&gt;
</li><li>                                &lt;/div&gt;
</li><li>                                {{end}}
</li><li>                        &lt;/div&gt;
</li><li>                &lt;/div&gt;
</li><li>
</li><li>                &lt;script&gt;
</li><li>                        // tree max width
</li><li>                        const scrollWidth = document.getElementById('tree').scrollWidth;
</li><li>
</li><li>                        let current;
</li><li>                        let currentTree;
</li><li>
</li><li>                        function select(n) {
</li><li>                                if (current) {
</li><li>                                        current.style.display = 'none';
</li><li>                                }
</li><li>
</li><li>                                current = document.getElementById('file' + n);
</li><li>                                if (!current) {
</li><li>                                        return;
</li><li>                                }
</li><li>                                current.style.display = 'block';
</li><li>                                current.scrollLeft = 0;
</li><li>                                current.scrollTop = 0;
</li><li>                        }
</li><li>                        function selectTree(n, indent) {
</li><li>                                if (currentTree) {
</li><li>                                        currentTree.classList.remove('current');
</li><li>                                }
</li><li>
</li><li>                                currentTree = document.getElementById('tree' + n);
</li><li>                                if (!current) {
</li><li>                                        return;
</li><li>                                }
</li><li>                                currentTree.classList.add('current');
</li><li>                                currentTree.style.width = scrollWidth - (indent * 30 + 8) + 'px';
</li><li>                        }
</li><li>                        function change(n, i) {
</li><li>                                select(n);
</li><li>                                selectTree(n, i);
</li><li>                        }
</li><li>                &lt;/script&gt;
</li><li>        &lt;/body&gt;
</li><li>&lt;/html&gt;
</li><li>`
</li></ol></pre>
					</div>
				</div>
				
				<div id="file4"  style="display: none">
					<div class="source">
						<pre><ol><li>package tree
</li><li>
</li><li>import (
</li><li>        "path/filepath"
</li><li>        "strings"
</li><li>
</li><li>        "github.com/masakurapa/go-cover/internal/profile"
</li><li>)
</li><li>
</li><li>// Node is single node of directory tree
</li><li>type Node struct {
</li><li>        Name  string
</li><li>        Files profile.Profiles
</li><li>        Dirs  []Node
</li><li>}
</li><li>
</li><li>// Create returns directory tree
</li><li>func Create(profiles profile.Profiles) []Node <span class="cov1">{
</span></li><li><span class="cov1">        nodes := make([]Node, 0)
</span></li><li><span class="cov1">        for _, p := range profiles </span><span class="cov1">{
</span></li><li><span class="cov1">                addNode(&amp;nodes, strings.Split(p.FileName, "/"), &amp;p)
</span></li><li><span class="cov1">        }</span>
</li><li>
</li><li>        <span class="cov1">return mergeSingreDir(nodes)</span>
</li><li>}
</li><li>
</li><li>func addNode(nodes *[]Node, paths []string, p *profile.Profile) <span class="cov1">{
</span></li><li><span class="cov1">        name := paths[0]
</span></li><li><span class="cov1">        nextPaths := paths[1:]
</span></li><li><span class="cov1">
</span></li><li><span class="cov1">        idx := index(*nodes, name)
</span></li><li><span class="cov1">        if idx == -1 </span><span class="cov1">{
</span></li><li><span class="cov1">                *nodes = append(*nodes, Node{Name: name})
</span></li><li><span class="cov1">                idx = len(*nodes) - 1
</span></li><li><span class="cov1">        }</span>
</li><li>
</li><li>        <span class="cov1">n := *nodes
</span></li><li><span class="cov1">        if len(nextPaths) == 1 </span><span class="cov1">{
</span></li><li><span class="cov1">                n[idx].Files = append(n[idx].Files, *p)
</span></li><li><span class="cov1">                return
</span></li><li><span class="cov1">        }</span>
</li><li>
</li><li>        <span class="cov1">addNode(&amp;n[idx].Dirs, nextPaths, p)</span>
</li><li>}
</li><li>
</li><li>func index(nodes []Node, name string) int <span class="cov1">{
</span></li><li><span class="cov1">        for i, t := range nodes </span><span class="cov1">{
</span></li><li><span class="cov1">                if t.Name == name </span><span class="cov1">{
</span></li><li><span class="cov1">                        return i
</span></li><li><span class="cov1">                }</span>
</li><li>        }
</li><li>        <span class="cov1">return -1</span>
</li><li>}
</li><li>
</li><li>// merge directories with no files and only one child directory
</li><li>//
</li><li>// path/
</li><li>//   to/
</li><li>//     file.go
</li><li>//
</li><li>// to
</li><li>//
</li><li>// path/to/
</li><li>//   file.go
</li><li>//
</li><li>func mergeSingreDir(nodes []Node) []Node <span class="cov1">{
</span></li><li><span class="cov1">        for i, n := range nodes </span><span class="cov1">{
</span></li><li><span class="cov1">                if len(n.Dirs) == 0 </span><span class="cov1">{
</span></li><li><span class="cov1">                        continue</span>
</li><li>                }
</li><li>
</li><li>                <span class="cov1">mergeSingreDir(n.Dirs)
</span></li><li><span class="cov1">                if len(n.Files) &gt; 0 || len(n.Dirs) != 1 </span><span class="cov1">{
</span></li><li><span class="cov1">                        continue</span>
</li><li>                }
</li><li>
</li><li>                <span class="cov1">sub := n.Dirs[0]
</span></li><li><span class="cov1">                nodes[i].Name = filepath.Join(n.Name, sub.Name)
</span></li><li><span class="cov1">                nodes[i].Files = sub.Files
</span></li><li><span class="cov1">                nodes[i].Dirs = sub.Dirs</span>
</li><li>        }
</li><li>        <span class="cov1">return nodes</span>
</li><li>}
</li></ol></pre>
					</div>
				</div>
				
				<div id="file5"  style="display: none">
					<div class="source">
						<pre><ol><li>package profile
</li><li>
</li><li>import (
</li><li>        "math"
</li><li>        "path"
</li><li>        "path/filepath"
</li><li>        "strings"
</li><li>)
</li><li>
</li><li>// Profiles is a type that represents a slice of Profile
</li><li>type Profiles []Profile
</li><li>
</li><li>// Profile is profiling data for each file
</li><li>type Profile struct {
</li><li>        ID       int
</li><li>        Dir      string
</li><li>        FileName string
</li><li>        Blocks   Blocks
</li><li>}
</li><li>
</li><li>// Blocks is a type that represents a slice of Block
</li><li>type Blocks []Block
</li><li>
</li><li>// Block is single block of profiling data
</li><li>type Block struct {
</li><li>        StartLine int
</li><li>        StartCol  int
</li><li>        EndLine   int
</li><li>        EndCol    int
</li><li>        NumState  int
</li><li>        Count     int
</li><li>}
</li><li>
</li><li>// IsRelativeOrAbsolute returns true if FileName is relative path or absolute path
</li><li>func (prof *Profile) IsRelativeOrAbsolute() bool <span class="cov1">{
</span></li><li><span class="cov1">        return strings.HasPrefix(prof.FileName, ".") || filepath.IsAbs(prof.FileName)
</span></li><li><span class="cov1">}</span>
</li><li>
</li><li>// FilePath returns readable file path
</li><li>func (prof *Profile) FilePath() string <span class="cov1">{
</span></li><li><span class="cov1">        if prof.IsRelativeOrAbsolute() </span><span class="cov1">{
</span></li><li><span class="cov1">                return prof.FileName
</span></li><li><span class="cov1">        }</span>
</li><li>        <span class="cov1">return filepath.Join(prof.Dir, path.Base(prof.FileName))</span>
</li><li>}
</li><li>
</li><li>// Coverage returns covered ratio for file
</li><li>func (blocks *Blocks) Coverage() float64 <span class="cov1">{
</span></li><li><span class="cov1">        var total, covered int64
</span></li><li><span class="cov1">        for _, b := range *blocks </span><span class="cov1">{
</span></li><li><span class="cov1">                total += int64(b.NumState)
</span></li><li><span class="cov1">                if b.Count &gt; 0 </span><span class="cov1">{
</span></li><li><span class="cov1">                        covered += int64(b.NumState)
</span></li><li><span class="cov1">                }</span>
</li><li>        }
</li><li>
</li><li>        <span class="cov1">if total == 0 </span><span class="cov1">{
</span></li><li><span class="cov1">                return 0
</span></li><li><span class="cov1">        }</span>
</li><li>
</li><li>        <span class="cov1">return math.Round((float64(covered)/float64(total)*100)*10) / 10</span>
</li><li>}
</li></ol></pre>
					</div>
				</div>
				
			</div>
		</div>

		<script>
			
			const scrollWidth = document.getElementById('tree').scrollWidth;

			let current;
			let currentTree;

			function select(n) {
				if (current) {
					current.style.display = 'none';
				}

				current = document.getElementById('file' + n);
				if (!current) {
					return;
				}
				current.style.display = 'block';
				current.scrollLeft = 0;
				current.scrollTop = 0;
			}
			function selectTree(n, indent) {
				if (currentTree) {
					currentTree.classList.remove('current');
				}

				currentTree = document.getElementById('tree' + n);
				if (!current) {
					return;
				}
				currentTree.classList.add('current');
				currentTree.style.width = scrollWidth - (indent * 30 + 8) + 'px';
			}
			function change(n, i) {
				select(n);
				selectTree(n, i);
			}
		</script>
	</body>
</html>
