name: push action

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.33

  test:
    runs-on: ubuntu-latest
    needs:
      - lint
    steps:
      - name: Set up Go 1.15.5
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.5
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Test
        run: make gotest
      - name: Upload math result for test
        uses: actions/upload-artifact@v2
        with:
          name: coverprofile
          path: coverage.out

  coverage:
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - name: Set up Go 1.15.5
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.5
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Download math result for test
        uses: actions/download-artifact@v2
        with:
          name: coverprofile
      - name: Coverage
        run: |
          mkdir public
          make
          ./gover-html -i coverage.out -o gover-html.html
          go tool cover -html=coverage.out -o go-tool-cover.html
      - name: Upload math result for test
        uses: actions/upload-artifact@v2
        with:
          name: coverages
          path: |
            gover-html.html
            go-tool-cover.html

  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
    needs:
      - coverage
    steps:
      - name: Set up Go 1.15.5
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.5
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Download math result for test
        uses: actions/download-artifact@v2
        with:
          name: coverages
      - name: Display structure of downloaded files
        run: ls -R
      - name: Coverage
        run: |
          mkdir public
          mv gover-html.html ./public/gover-html.html
          mv go-tool-cover.html ./public/go-tool-cover.html
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
